In [3]:
import pandas as pd
import datetime
import pandas_datareader.data as web
from pandas import Series, DataFrame


start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2017, 1, 11)

df = web.DataReader("AMZN", 'yahoo', start, end)
df.tail()

                  High         Low        Open       Close   Volume   Adj Close
Date
2017-01-05  782.400024  760.260010  761.549988  780.450012  5830100  780.450012
2017-01-06  799.440002  778.479980  782.359985  795.989990  5986200  795.989990
2017-01-09  801.770020  791.770020  798.000000  796.919983  3446100  796.919983
2017-01-10  798.000000  789.539978  796.599976  795.900024  2558400  795.900024
2017-01-11  799.500000  789.510010  793.659973  799.020020  2992800  799.020020